<div class="container">
    <form novalidate
          [formGroup]="passwordForm"
          (ngSubmit)="update()">
        <mat-form-field>
            <input matInput
                   type="password"
                   placeholder="Password"
                   formControlName="password"
                   required />
            <mat-error *ngIf="passwordForm.get('password').hasError('required')">This field
                is
                required!!</mat-error>
            <mat-error *ngIf="passwordForm.get('password').hasError('pattern')">
                At least 8 letters, 2 capital letters, 1 number and 1 special character</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   type="password"
                   placeholder="Confirm Password"
                   formControlName="confirmPassword"
                   required />
            <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')">
                This field is
                required!!</mat-error>
            <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('pattern')">
                At least 8 letters, 2 capital letters, 1 number and 1 special character</mat-error>
            <mat-error *ngIf="passwordForm.hasError('dontMatch')">
                Passwords don't match</mat-error>
        </mat-form-field>

        <div class="footer">
            <button mat-button
                    type="button"
                    [mat-dialog-close]="false">Cancel</button>
            <button mat-button
                    type="submit"
                    [disabled]="!passwordForm.valid">Update</button>
        </div>
    </form>
</div>
