.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  height: 100%;

  .header {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    span {
      font-size: 12px;
    }

    button {
      margin: 16px;
    }

    a {
      color: blue;
      cursor: pointer;
    }
  }
}
