/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.footer {
  display: flex;
  place-content: center flex-end;
  align-items: center;
}

.mat-form-field-flex {
  height: 45.5px;
}
